@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Unicamente.UI.Web.Models.MaririViewModel

<div class="container" style="padding: 0;">
    <p style="text-align: left"><a onclick="tabelaMariri()" style="cursor: pointer"><strong><i class="material-symbols-outlined">undo</i> Lista de Mariris</strong></a></p>
    <div class="col-lg-12">

        <form enctype="multipart/form-data" id="form-adicionar-mariri" method="post" data-ajax-method="post" data-ajax="true" data-ajax-url="/Administrativo/SalvarMariri" data-ajax-success="onAdicionarMaririSuccess" role="form" class="php-email-form">
            <input asp-for="ID" type="hidden" id="idMariri" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <div class="row">

                    <div class="col-md-6">
                        <label class="control-label">Descrição</label>
                        <input asp-for="Descricao" class="form-control somenteTexto" id="descricaoMariri" required />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>


                </div>
                <br>
                <div class="row">

                    <div class="col-md-12">
                        <label class="control-label">Observacao</label>
                        <input asp-for="Observacao" type="text" class="form-control" id="observacaoMariri" />
                        <span asp-validation-for="Observacao" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <br />
                        @* <label class="control-label">Imagem</label> *@
                        @* <input asp-for="Imagem" class="form-control" id="imagem" required /> *@
                        <input type="file" id="imageInputMariri" style="display:none" class="form-control" name="photo" accept="image/*" />
                        @* <button id="adicionaImagem" class="btn-salvar" style="background:#049be3" >Adicionar Imagem</button> *@
                        <label for="files" id="adicionaImagemMariri" class="btn-salvar" style="background:#049be3">Adicionar imagem</label>

                        <input asp-for="Imagem" type="hidden" id="imagem" />

                        <span asp-validation-for="Imagem" class="text-danger"></span>
                    </div>
                    <div class="col-md-3" style="align-items:center">
                        <img id="imageMariri" src="data:image/png;base64,@Model.Imagem64()" style="width:90px; height:90px; border-radius:50%; display:block;margin-left:auto;margin-right:auto; margin-top:10px" />

                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="col-md-4">

                        <button id="cadastrar-mariri" class="btn-salvar" style="background:#049be3" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* <partial name="_ValidationScriptsPartial" /> *@

<script>

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#form-adicionar-mariri"));
    });

    $('#adicionaImagemMariri').on('click', function () { $('#imageInputMariri').click(); return false; });

    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();

    //         reader.onload = function (e) {
    //             $('#imageMariri').attr('src', e.target.result);
    //         }

    //         reader.readAsDataURL(input.files[0]);
    //     }
    // }

    $("#imageInputMariri").change(function () {
        // readURL(this);
        CarregaElementoImagem(this, '#imageMariri');
    });



    // $(document).ready(function ($) {
    //     aplicarMascaras();
    // });




    // function aplicarMascaras() {
    //     $("#contato").mask("(00) 09999-9999");
    //     $("#cnpj").mask("09.000.000/0000-00");
    //     $("#rg").mask("0000000000");
    //     $("#cep").mask("00000-000");

    //     $("#responsavel").keypress(function (e) {
    //         var key = e.keyCode;
    //         if (key >= 48 && key <= 57) {
    //             e.preventDefault();
    //         }
    //     });
    // }

    function onAdicionarMaririSuccess(response) {
        alert("eita");
        if (response.success) {
            Swal.fire({
                icon: "success",
                title: "Sucesso!",
                text: response.message,
                // footer: 'Bem vindo ao mundo dos investimentos imobiliários!',
                confirmButtonText: "OK",
                confirmButtonColor: "#38be3b",
            }).then(() => {
                atualizaListaMariris();
            });

        }
        else {
            exibirPopupErro(response.message);
        }
    }


    function limpaFormularioMariri() {
        $("#idMariri").val(0);
        $("#descricaoMariri").val('');
        $("#observacaoMariri").val('');
        $("#imagemMariri").val('');
        $('#imageMariri').attr('src', "");
    }




</script>

