<section id="enterprises" class="enterprises section-bg2">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 style="color: #111111">Estrutura</h2>
        </div>

        <div class="row">
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="material-symbols-outlined"><strong>diamond</strong></i>
                    <h4>Padrão</h4>
                    <p>Empreendimentos de Alto Padrão para satisfazer as exigências do público mais refinado.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="material-symbols-outlined"><strong>location_on</strong></i>
                    <h4>Localização</h4>
                    <p>Privilegiada em meio da natureza para o lazer das férias e com demanda turística comprovada para rentabilidade por aluguel por temporada.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="material-symbols-outlined"><strong>eco</strong></i>
                    <h4>Sustentabilidade</h4>
                    <p>Todos os projetos Oskem levam o conceito e a prática ESG sustentabilidade ambiental, social e de governança corporativa (Environmental, Social and Governance).</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="material-symbols-outlined"><strong>king_bed</strong></i>
                    <h4>Acomodações</h4>
                    <p>Chalés, Cabanas e Apartamentos com design compacto, funcional e instagramável.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                    <i class="material-symbols-outlined"><strong>pool</strong></i>
                    <h4>Lazer</h4>
                    <p>Uma ampla área de lazer para momentos inesquecíveis.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                    <i class="material-symbols-outlined"><strong>restaurant</strong></i>
                    <h4>Gastronomia</h4>
                    <p>Restaurantes, bares e cafés</p>
                </div>
            </div>
        </div>

    </div>

</section>