<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Perguntas Frequentes</h2>
        </div>

        <ul class="faq-list accordion" data-aos="fade-up">

            <li>
                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Quem é a Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>É uma empresa que tem o compromisso permanente com a satisfação dos clientes e com o desenvolvimento de soluções em gestão empresarial e empreendimento habitacionais.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Como funciona a metodologia de multipropriedades? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>Multipropriedade é um formato que surgiu através da economia compartilhada Neste sistema, cria se um condomínio especial que permite dividir um imóvel, casa ou apartamento, em frações imobiliárias.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">O que de fato a Oskem oferece ao investidor que compra as frações/cotas imobiliárias ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>Retorno financeiro ao investidor, imóvel de férias, segurança, tecnologia de ponta e parceria.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">A Oskem é uma incorporadora e construtora? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>Sim a Oskem realiza a incorporação e a construção de empreendimentos.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Como sei se o meu investimento é seguro? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>Total transparência do plano de negócios e do modelo jurídico do empreendimento.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Como funciona o sistema de vendas digitais de frações/cotas imobiliárias da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>O cliente tem acesso a uma plataforma tecnológica e segura para simulação e reserva da sua compra de fração imobiliária com visualização 3D do empreendimento.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq7" class="collapsed">O que é uma SPE? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                    <p>A uma Sociedade de Propósito Específico (SPE) é um modelo de organização empresarial pelo qual se constitui uma nova empresa, limitada ou sociedade anônima, com um objetivo específico.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq8" class="collapsed">A Oskem realizará todos os projetos do empreendimento? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                    <p>Sim.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq9" class="collapsed">A Oskem é uma imobiliária? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq9" class="collapse" data-bs-parent=".faq-list">
                    <p>Não, somos uma incorporadora e construtora.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq10" class="collapsed">Como posso ser um parceiro da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq10" class="collapse" data-bs-parent=".faq-list">
                    <p>Entrando em contato com um dos nossos consultores pelo telefone (47)3017-0416.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq11" class="collapsed">A Oskem realizará o licenciamento ambiental no empreendimento? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq11" class="collapse" data-bs-parent=".faq-list">
                    <p>Sim.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq12" class="collapsed">Como faço o meu cadastro no sistema de vendas de multipropriedades da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq12" class="collapse" data-bs-parent=".faq-list">
                    <p>Através da opção cadastre-se disponível no menu superior.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq13" class="collapsed">Qual é o perfil dos empreendimentos da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq13" class="collapse" data-bs-parent=".faq-list">
                    <p>Empreendimentos luxuosos e sustentáveis.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq14" class="collapsed">O que seria empreendimentos com conceito ESG? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq14" class="collapse" data-bs-parent=".faq-list">
                    <p>Empreendimentos com comprometimento ambiental, social e de governança corporativa.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq15" class="collapsed">Qual é o sistema construtivo utilizado nos empreendimentos da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq15" class="collapse" data-bs-parent=".faq-list">
                    <p>Light Steel Frame.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq16" class="collapsed">Tempo de conclusão de obras por unidade (chalé, cabana ou casa) da Oskem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq16" class="collapse" data-bs-parent=".faq-list">
                    <p>60 dias.</p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq17" class="collapsed">Como posso acompanhar o andamento e a evolução geral do empreendimento? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq17" class="collapse" data-bs-parent=".faq-list">
                    <p>Via sistema Oskem em acompanhamento em tempo real com câmeras e relatórios.</p>
                </div>
            </li>

        </ul>

    </div>
</section>