<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <a class="me-auto" asp-action="Index"><img class="logo me-auto" src="~/img/logo-oskem-fundo-preto.png" /></a>
                    <br><br>
                    <p>
                        <strong><i class="bx bx-map"></i></strong>
                        Rua José T. Ribeiro, 1414 <br>
                        Ilha da Figueira <br>
                        Jaraguá do Sul - SC <br>
                        89258-000 <br><br>
                        <strong><i class="bx bxl-whatsapp"></i></strong> +55 47 3017-0416 <br>
                        <strong><i class="bx bx-envelope"></i></strong> contato@oskem.com.br
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Nossas Redes Sociais</h4>
                    <div class="social-links">
                        <br>
                        <a href="https://www.instagram.com/oskemengenharia/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                        <a href="http://www.youtube.com/@@OskemEngenharia-ni8gy" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
                        <!--<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
                        <!--<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
                        <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                        <!--<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Newsletter</h4>
                    <p>Inscreva-se em nossa newsletter e fique por dentro das novidades dos nossos empreendimentos.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Inscreva-se">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; 2021 <strong><span>Oskem</span></strong> - Todos os direitos reservados.
            </div>
        </div>
    </div>
</footer><!-- End Footer -->