<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        @* <h1 class="logo me-auto"><a href="index.html">Oskem<span>.</span></a></h1> *@
        <a class="me-auto" asp-action="Index"><img class="logo me-auto" src="~/img/logo-oskem-fundo-branco.png" /></a>

        <!-- ======= Navigation Bar ======= -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <!--<li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>-->
                <li><a class="nav-link scrollto" href="#portfolio">Empreendimentos</a></li>
                <li><a class="nav-link scrollto" href="#multipropertiespe">Multipropriedade & SPE</a></li>
                @* <li><a class="nav-link scrollto" href="#enterprises">Estrutura</a></li> *@
                <!--<li><a class="nav-link scrollto" href="#partiners">Parceiros</a></li>-->
                <li><a class="nav-link scrollto" href="#faq">Perguntas Frequentes</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
                @* <li><a class="nav-link scrollto" href="#">Cadastre-se</a></li> *@
                @* <li><a asp-action="Cadastro">Cadastre-se</a></li> *@
                <!--<li><a class="nav-link scrollto" href="#hero" onclick="document.getElementById('login').style.display='block'">LOGIN</a></li>-->

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

   @*      <div>
		    <a class="get-started-btn scrollto" style="cursor: pointer" onclick="document.getElementById('login').style.display='block'">LOGIN</a>
        </div> *@
        
        <!-- ======= Login Modal ======= -->
        <partial name="_Login.cshtml" />

    </div>

</header>