<section id="hero" class="d-flex align-items-center" style="width: 100%; margin-top: 80px" data-aos="fade-out" data-aos-delay="100">

    <div class="slideh">
        <div class="container text_box_container">
            <div class="container text_box_l">
                <h1><strong>EMPREENDIMENTOS NO MODELO SPE, COM RETORNO FINANCEIRO AO INVESTIDOR</strong></h1>
                <a class="btn-join-us scrollto" onclick="requestcontactFunction()" style="cursor:pointer">Saiba Mais</a>
            </div>
        </div>
    </div>

    <div class="slideh">
        <div class="container text_box_container">
            <div class="container text_box_c">
                <h1><strong>QUER TRANSFORMAR SEU IMÓVEL EM UM EMPREENDIMENTO DE SUCESSO?</strong></h1>
                <a class="btn-join-us scrollto" onclick="requestcontactFunction()" style="cursor:pointer">Junte-se a Nós</a>
            </div>
        </div>
    </div>


    <div class="slideh">
        <div class="container text_box_container">
            <div class="container text_box_r">
                <h1><strong>O SEU IMÓVEL DE FÉRIAS COM INFRAESTRUTURA DE RESORT</strong></h1>
                <a class="btn-join-us scrollto" onclick="requestcontactFunction()" style="cursor:pointer">Saiba Mais</a>
            </div>
        </div>
    </div>

</section>

<script>
    function requestcontactFunction(parm) {
        Swal.fire({
            title: "Solicite Atendimento",
            showCancelButton: true,
            confirmButtonText: "Solicitar",
            confirmButtonColor: "#049be3",
            cancelButtonText: "Fechar",
            cancelButtonColor: "#f44336",
            html: `<div class="form-container">
                                       <div class="form-row">
                                           <p style="font-size: 20px">Preencha as informações abaixo, que um especialista irá lhe atender.</p>
                                       </div>
                                       <br>
                                       <div class="form-row">
                                           <div class="form-col" style="text-align: left">
                                               <label for="interest">Desejo Falar Sobre</label>
                                               <select id="interest" class="form-control" required>
                                                   <option value="">-- Clique aqui e selecione uma opção --</option>
                                                   <option value="terrenista">Transformar meu imóvel em um empreendimento de sucesso</option>
                                                   <option value="investidor">Rentabilizar com imóvel de aluguel por curta temporada</option>
                                                   <option value="cotista">Investir em imóvel de férias</option>
                                               </select>
                                           </div>
                                       </div>
                                       <br>
                                       <div class="form-row">
                                           <div class="form-col" style="text-align: left">
                                               <label for="name">Nome</label>
                                                   <input id="nomeModal" class="form-control" required  maxlength="50">
                                           </div>
                                        </div>
                                        <br>
                                        <div class="form-row">
                                           <div class="form-col" style="text-align: left">
                                               <label for="phone">Telefone</label>
                                                   <input id="telefoneModal" class="form-control" required maxlength="11">
                                           </div>
                                        </div>
                                        <br>
                                        <div class="form-row">
                                           <div class="form-col" style="text-align: left">
                                               <label for="email">e-mail</label>
                                                   <input type="email" id="emailModal" class="form-control" required  maxlength="50">
                                           </div>
                                       </div>
                                   </div>`,
            focusConfirm: false,
            preConfirm: () => {

                if (!$("#interest").val() || !$("#nomeModal").val() || !$("#telefoneModal").val() || !$("#emailModal").val()) {
                    Swal.showValidationMessage('Necessário preencher todos os campos');
                    return;
                }

            }
        }).then((result) => {
            if (result.isConfirmed) {

                $.post("/Home/EmailContato", {
                    Nome: $("#nomeModal").val(),
                    Telefone: $("#telefoneModal").val(),
                    Email: $("#emailModal").val(),
                    Assunto: $("#interest").val(),

                });

                Swal.fire({
                    title: "Solicitação enviada com sucesso!",
                    text: "Aguarde que em breve um especialista entrará em contato.",
                    icon: "success",
                    confirmButtonText: "Fechar",
                    confirmButtonColor: "#049be3"
                });
            }
        });
        if (formValues) {
            Swal.fire(JSON.stringify(formValues));
        }
    }


</script>

