<section id="multipropertiespe" class="multipropertie section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Multipropriedade & SPE</h2>
        </div>

        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
                <div class="content" style="margin-left: 10px;">
                    <h3>Invista</h3>
                    <p style="font-size: 22px">
                        Em um modelo de negócio já consagrado na Europa e nos Estados Unidos que vem ganhando força no Brasil com o formato de <strong>Casa de Férias</strong> e <strong>Rentabilidade com Aluguéis por curta temporada</strong>.
                    </p>
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="material-symbols-outlined"><strong>search</strong></i>
                            <h4>O que são?</h4>
                            <p>São as modalidades que permitem adquirir um imóvel de forma fracionada.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="material-symbols-outlined"><strong>settings</strong></i>
                            <h4>Como funcionam?</h4>
                            <p>Nestes sistemas criam-se condomínios especiais que permitem dividir um imóvel em frações.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="material-symbols-outlined"><strong>calendar_month</strong></i>
                            <h4>Como utilizar?</h4>
                            <p>Ao adquirir frações, o proprietário tem o direito de utilizar o imóvel em sua totalidade pelo período estipulado em contrato.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="material-symbols-outlined"><strong>trending_up</strong></i>
                            <h4>Como rentabilizar?</h4>
                            <p>O período de utilização pode ser ofertado como diárias para hospedagem de outras pessoas. Além da valorização natural do imóvel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>