<section id="tabsMultipropertie" class="tabs">
    <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                    <i class="material-symbols-outlined">house</i>
                    <h4 class="d-none d-lg-block">Mais sobre os modelos</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                    <i class="material-symbols-outlined">fact_check</i>
                    <h4 class="d-none d-lg-block">Benefícios</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                    <i class="material-symbols-outlined">balance</i>
                    <h4 class="d-none d-lg-block">Legislação</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                    <i class="material-symbols-outlined">help_center</i>
                    <h4 class="d-none d-lg-block">Por que a Oskem?</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Modelo SPE</h3>
                        <p>A Sociedade de Propósito Específico (SPE) corresponde a um modelo de organização empresarial pelo qual se constitui uma nova empresa com um objetivo específico.</p>
                        <h3>Modelo Multipropriedade</h3>
                        <p>A multipropriedade é o regime de condomínio em que cada um dos proprietários de um mesmo imóvel é titular de uma fração de tempo, à qual corresponde a faculdade de uso e gozo, com exclusividade, da totalidade do imóvel, a ser exercida pelos proprietários de forma alternada”.</p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs/tabs-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Benefícios do modelo SPE</h3>
                        <ul>
                            <p>A SPE tem o seu próprio fluxo de caixa, colaboradores, prestadores de serviços, obrigações estas que deixam de existir imediatamente ao final do projeto. De modo que, em suma, pode-se indicar como vantagens da constituição de uma SPE:</p>
                            <li><i class="ri-check-double-line"></i> Maior segurança e transparência aos sócios investidores com risco diluído;</li>
                            <li><i class="ri-check-double-line"></i> Maior controle do fluxo de caixa e resultado financeiro;</li>
                            <li><i class="ri-check-double-line"></i> Maior agilidade na operação e na finalização do projeto;</li>
                            <li><i class="ri-check-double-line"></i> Ganhos de competitividade no mercado;</li>
                            <li><i class="ri-check-double-line"></i> Redução de custos operacionais;</li>
                            <p>Cumpre mencionar ainda que a SPE pode adotar regime de apuração do imposto de renda diferente daquele adotado pelos sócios e, até o presente, há isenção do imposto de renda na distribuição dos lucros e dividendos aos sócios.</p>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs/tabs-2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Benefícios do modelo Multipropriedade</h3>
                        <ul>
                            <p>As vantagens de investir em uma multipropriedade são a economia, tanto na compra quanto na manutenção, e a possibilidade de uso vitalício:</p>
                            <li><i class="ri-check-double-line"></i> Custo de investimento menor, o que permite adquirir uma casa de luxo por um preço baixo;</li>
                            <li><i class="ri-check-double-line"></i> Economia com manutenção e contas rotineiras do bem;</li>
                            <li><i class="ri-check-double-line"></i> Uso vitalício;</li>
                            <li><i class="ri-check-double-line"></i> Possibilidade de obter uma boa rentabilidade, locando a sua fração a terceiros;</li>
                            <li><i class="ri-check-double-line"></i> Valorização da propriedade;</li>
                            <li><i class="ri-check-double-line"></i> Conciliação com outros contratos, como de serviços de intercâmbio ou pool (que permite repassar a sua fração a um operador hoteleiro);</li>
                            <li><i class="ri-check-double-line"></i> Experiências diferenciadas, já que esses imóveis costumam ter uma infraestrutura completa;</li>
                            <li><i class="ri-check-double-line"></i> Diversificação da carteira de investimentos, caso esse seja seu objetivo;</li>
                            <li><i class="ri-check-double-line"></i> Segurança jurídica, porque a moradia compartilhada é reconhecida pela legislação brasileira.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Legislação sobre SPE</h3>
                        <p>Regulamentada pelo Código Civil (Lei nº 10.406/02).</p>
                        <h3>Legislação sobre Multipropriedade</h3>
                        <p>Regida pela LEI 13777/2018.</p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs/tabs-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Motivos para escolher a Oskem</h3>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Porque faremos o seu imóvel reder lucro;</li>
                            <li><i class="ri-check-double-line"></i> Você poderá desfrutar de férias infinitas;</li>
                            <li><i class="ri-check-double-line"></i> Baixo custo de operação do empreendimento;</li>
                            <li><i class="ri-check-double-line"></i> Temos a Engenharia completa para o desenvolvimento do empreendimento imobiliário;</li>
                            <li><i class="ri-check-double-line"></i> Possuímos um sistema único de vendas de multipropriedades e SPE;</li>
                            <li><i class="ri-check-double-line"></i> Segurança jurídica para aquisição e vendas do empreendimento;</li>
                            <li><i class="ri-check-double-line"></i> O maior portfólio do Brasil de projetos de Chalés e Cabanas de Luxo;</li>
                            <li><i class="ri-check-double-line"></i> Utilizamos o sistema construtivo mais avançado e sustentável da atualidade (LIGHT STEEL FRAME);</li>
                            <li><i class="ri-check-double-line"></i> Softwares para acompanhamento em tempo real da gestão e execução das obras;</li>
                            <li><i class="ri-check-double-line"></i> Empreendimento intercambiado para THIRDHOME e RCI;</li>
                            <li><i class="ri-check-double-line"></i> Network com as melhores imobiliárias do Brasil.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs/tabs-4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>