<section id="tabsSpe" class="tabs">
    <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-5">
                    <i class="bi bi-house"></i>
                    <h4 class="d-none d-lg-block">Mais sobre SPE</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
                    <i class="bi bi-card-checklist"></i>
                    <h4 class="d-none d-lg-block">Benefícios</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-7">
                    <i class="fa fa-balance-scale" style="padding-top: 12px; padding-bottom: 11px"></i>
                    <h4 class="d-none d-lg-block">Legislação</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-8">
                    <i class="bi bi-question-square"></i>
                    <h4 class="d-none d-lg-block">Por que a Oskem</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="tab-5">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        <p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-6">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Benefícios do modelo SPE</h3>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Maior segurança e transparência aos sóciosinvestidores com risco diluído;</li>
                            <li><i class="ri-check-double-line"></i> Maior controle do fluxo de caixa e resultado financeiro;</li>
                            <li><i class="ri-check-double-line"></i> Maior agilidade na operação e na finalização do projeto;</li>
                            <li><i class="ri-check-double-line"></i> Ganhos de competitividade no mercado;</li>
                            <li><i class="ri-check-double-line"></i> Redução de custos operacionais. Cumpre mencionar ainda que a SPE pode adotar regime de apuração do imposto de renda diferente daquele adotado pelos sócios e, até o presente, há isenção do imposto de renda na distribuição dos lucros e dividendos aos sócios.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-7">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Legislação sobre SPE</h3>
                        <p>
                            A multipropriedade dispõe de legislação específica que a regula, a Lei Federal 13.777/2018.
                        </p>
                        <p>
                            É o regime de condomínio em que cada um dos proprietários de um mesmo imóvel é titular de
                            uma fração de tempo, à qual corresponde a faculdade de uso e gozo, com exclusividade, da
                            totalidade do imóvel, a ser exercida pelos proprietários de forma alternada”.
                        </p>
                        <p>
                            O período correspondente a cada fração de tempo será de, no mínimo, 7 (sete) dias, porém
                            isso pode variar de acordo com cada empreendimento e ou incorporador. Essa fração de tempo
                            poderá ser dias seguidos ou intercalados. Existem também outras regras sobre o período
                            utilizado:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Fixo e determinado, no mesmo período de cada ano;</li>
                            <li><i class="ri-check-double-line"></i> Flutuante, caso em que a determinação do período será realizada de forma periódica;</li>
                            <li><i class="ri-check-double-line"></i> Misto, combinando os sistemas fixo e flutuante.</li>
                        </ul>
                        <p>
                            Assim, o bem poderá ter até 52 (cinquenta e dois) proprietários distintos, ou seja, um proprietário por semana no ano.
                        </p>
                        <p>
                            Uma das principais definições da lei se refere a matrícula do imóvel. A necessidade deste documento se aplica aos imóveis de
                            multipropriedade, com algumas particularidades.
                        </p>
                        <p>
                            Haverá uma matrícula-mãe para o empreendimento e matrículas-filhas para cada unidade periódica. Atrelando a fração ao empreendimento,
                            porém, mantendo a sua autonomia.
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-8">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Vantagens de escolher a Oskem</h3>
                        <p>
                            A Oskem aplica as melhores práticas para entregar aos seus clientes um produto de excelência
                        </p>
                        <p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>