@model Unicamente.UI.Web.Models.TelaCadastroViewModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_LayoutB.cshtml";
}


<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        @* <h1 class="logo me-auto"><a href="index.html">Oskem<span>.</span></a></h1> *@
        @* <img class="logo me-auto" src="~/img/logo-oskem-fundo-branco.png" /> *@

        <a class="me-auto" asp-action="Index"><img class="logo me-auto" src="~/img/logo-oskem-fundo-branco.png" /></a>

    </div>
</header>

<section id="cadastro" class="cadastro">
    <div class="container">

        <div class="section-title">
            <br />
            <h2>Realize seu cadastro</h2>
            <p>Você é um investidor ou um corretor? Faça seu cadastro abaixo:</p>
        </div>

        <!-- ======= Tabs Section ======= -->
        <section id="tabs" class="tabs">
            <div class="container" data-aos="fade-up">

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-6">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                            <i class="material-symbols-outlined">account_circle</i>
                            <h4 class="d-none d-lg-block">Sou Investidor</h4>
                        </a>
                    </li>
                    <li class="nav-item col-6">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                            <i class="material-symbols-outlined">badge</i>
                            <h4 class="d-none d-lg-block">Sou Corretor</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row" data-aos="fade-up" data-aos-delay="100">

                            <div class="col-lg-12">
                                @* <form id="form-investidor" asp-controller="Investidor" asp-action="Create"  method="post" role="form" class="php-email-form"> *@
                                <form id="form-investidor" method="post" data-ajax-method="post" data-ajax="true" data-ajax-url="/Investidor/Create" data-ajax-success="onSucess" role="form" class="php-email-form">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col">

                                                <label class="control-label">Tipo</label>

                                                <select asp-for="TipoPessoa" class="form-control" id="tipoPessoa" required>
                                                    <option value="1">Pessoa Física</option>
                                                    <option value="2">Pessoa Jurídica</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label asp-for="Nome" class="control-label"></label>
                                                <input asp-for="Nome" class="form-control" id="nome" placeholder="João da Silva" required />
                                                <span asp-validation-for="Nome" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <label asp-for="Celular" class="control-label"></label>
                                                <input asp-for="Celular" type="text" class="form-control" id="celular" placeholder="(12) 2345-67890" required />
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <label class="control-label">Email</label>
                                                <input asp-for="Email" class="form-control" id="email" placeholder="joao.silva@email.com" required />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <label class="control-label">Confirme o E-mail</label>
                                                <input asp-for="ConfirmacaoEmail" class="form-control" id="confirmacaoEmail" placeholder="joao.silva@email.com9" required />
                                                <span asp-validation-for="ConfirmacaoEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <label class="control-label">Senha</label>
                                                <input asp-for="Senha" class="form-control" id="senha" placeholder="*******" required />
                                            </div>
                                            <div class="col">
                                                <label class="control-label">Repetir Senha</label>
                                                <input asp-for="ConfirmacaoSenha" class="form-control" id="senhaRepetir" placeholder="*******" required />
                                                <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="my-3">
                                            <div class="loading">Carregando</div>
                                            <div class="error-message"></div>
                                            <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
                                        </div>
                                        <div style="text-align: right"><button id="cadastrar-investidor" type="submit" class="botaoConfirmar" style="background: #38be3b">Concluir</button></div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="col-lg-12">
                            <form asp-controller="Investidor" asp-action="Create" method="post" role="form" class="php-email-form">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col">


                                            <label class="control-label">Tipo</label>

                                            <select asp-for="TipoPessoa" class="form-control" id="tipoPessoa" required>
                                                <option value="1">Pessoa Física</option>
                                                <option value="2">Pessoa Jurídica</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label asp-for="Nome" class="control-label"></label>
                                            <input asp-for="Nome" class="form-control" id="nome" placeholder="João da Silva" required />
                                        </div>
                                        <div class="col">
                                            <label asp-for="Celular" class="control-label"></label>
                                            <input asp-for="Celular" class="form-control" id="celular" placeholder="(12) 2345-67890" required />
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <label class="control-label">Email</label>
                                            <input asp-for="Email" class="form-control" id="email" placeholder="joao.silva@email.com" required />
                                        </div>
                                        <div class="col">
                                            <label class="control-label">Confirme o E-mail</label>
                                            <input asp-for="ConfirmacaoEmail" class="form-control" id="confirmacaoEmail" placeholder="joao.silva@email.com9" required />
                                            <span asp-validation-for="ConfirmacaoEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <label class="control-label">Senha</label>
                                            <input asp-for="Senha" class="form-control" id="senha" placeholder="*******" required />
                                        </div>
                                        <div class="col">
                                            <label class="control-label">Repetir Senha</label>
                                            <input asp-for="ConfirmacaoSenha" class="form-control" id="confirmacaoSenha" placeholder="*******" required />
                                            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="my-3">
                                        <div class="loading">Carregando</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
                                    </div>
                                    <div style="text-align: right"><button type="submit" style="background: #38be3b">Concluir</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Tabs Section -->

    </div>

</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script>

<script>
    $(document).ready(function () {
        // $("#celular").inputmask("(99)99999-9999");
        $("#celular").mask("(00) 00000-0000");
        
        $("#nome").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });

    });

    function onSucess(response) {
        if (response.success) {
            // exibirPopupSucessoComRedirect(response.message, "/Investidor/Index");
            // exibirPopupSucessoComRedirect(response.message, "/Home/Index");

            Swal.fire({
                icon: "success",
                title: "Oba! \nDeu tudo certo!",
                text: "Acabamos de lhe enviar um e-mail para a ativação da sua conta!",
                footer: 'Bem vindo ao mundo dos investimentos imobiliários!',
                confirmButtonText: "Fechar",
                confirmButtonColor: "#38be3b",
            }).then(() => {
                window.location.href = "/Home/Index";
            });

        }
        else {
            exibirPopupErro(response.message);
        }
    }

   
</script>



