@{
    ViewData["Title2"] = "Home";
    Layout = "~/Views/Shared/_LayoutB.cshtml";
}

    <!-- ======= Header ======= -->
    <partial name="_Header.cshtml"/>

    <!-- ======= Hero ======= -->
    <partial name="_Hero.cshtml"/>

    <!-- ======= Main ======= -->
    <main id="main">

        <partial name="_Portfolio.cshtml" />

        <partial name="_Enterprises.cshtml" />

        <partial name="_MultipropertieSpe.cshtml" />
        
        <partial name="_TabsMultipropertieSpe.cshtml" />


    <!--<partial name="_Testimonials.cshtml" />-->
    <!--<partial name="_Partiners.cshtml" />-->

        <partial name="_Faq.cshtml" />

        <partial name="_Contact.cshtml" />

    </main>

    <!-- ======= Footer ======= -->
    <partial name="_Footer.cshtml" />

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
