@model Unicamente.UI.Web.Models.TelaCadastroViewModel

@{
    ViewData["Title"] = "Bem vindo";
    Layout = "~/Views/Shared/_LayoutB.cshtml";
}

<p>
    Olá! Bem vindo a Oskem Engenharia!
</p>
<p>
    Para prosseguir, é necessário realizar a confirmação do e-mail que enviamos para o endereço tal.

    Estamos muito felizes com seu cadastro e esperamos que aproveite todas as oportunidades!
</p>