@model Unicamente.UI.Web.Models.AdministrativoViewModel

<section class="realstate" style="padding: 0">
    <div class="container">

        <div class="section-title" style="padding: 5px">
            <h2>Cadastro de Recipientes</h2>

        </div>

        <div id="tabela-recipiente">

            <partial name="_ListaRecipientes.cshtml" model="@Model.Recipientes" />
        </div>

        <div id="formulario-recipiente" style="display:none">
            <partial name="_FormularioRecipiente.cshtml" model="@Model.Recipiente" />
        </div>

    </div>


</section>
@* <script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.inputmask.js"></script> *@

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script> *@
<script>



    function atualizaListaRecipientes() {
        $.ajax({
            type: 'GET',
            url: '/Administrativo/ListaRecipientes',
            // dataType: 'html',
            success: function (data) {
                $("#tabela-recipiente").html('');
                $("#tabela-recipiente").html(data);
                tabelaRecipiente();

            }
        });
    }

    function tabelaRecipiente() {
        $("#tabela-recipiente").show();
        $("#formulario-recipiente").hide();
        limpaFormularioRecipiente();
    }

    function formularioRecipiente() {
        $("#tabela-recipiente").hide();
        $("#formulario-recipiente").show();

    }


</script>