@model Unicamente.UI.Web.Models.AdministrativoViewModel

<section class="realstate" style="padding: 0">
    <div class="container">

        <div class="section-title" style="padding: 5px">
            <h2>Cadastro de Recipientes</h2>

        </div>

        <div id="tabela-recipiente">

            <partial name="_ListaRecipientes.cshtml" model="@Model.Imobiliarias" />
        </div>

        <div id="formulario-recipiente" style="display:none">
            <partial name="_FormularioRecipiente.cshtml" model="@Model.Imobiliaria" />
        </div>

    </div>


</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script>
<script>

    // function tabelaImob() {
    //     $("#tabela-imobiliaria").show();
    //     $("#formulario-imobiliaria").hide();
    //     limpaFormulario();
    // }


    // function formularioImob() {
    //     $("#tabela-imobiliaria").hide();
    //     $("#formulario-imobiliaria").show();

    // }


    // function detalheImobiliaria(id) {
    //     $.ajax({
    //         type: 'GET',
    //         url: '/Administrativo/DetalheImobiliaria',
    //         dataType: 'html',
    //         data: { id: id },
    //         success: function (result) {
    //             $("#formulario-imobiliaria").html(result);
    //             formularioImob();
    //             aplicarMascaras();
    //         }
    //     });
    // }

    function atualizaListaImobiliarias() {
        $.ajax({
            type: 'GET',
            url: '/Administrativo/ListaImobiliarias',
            // dataType: 'html',
            success: function (data) {
                $("#tabela-imobiliaria").html('');
                $("#tabela-imobiliaria").html(data);
                tabelaImob();

            }
        });
    }


</script>