<section id="EnterpriseMap" class="EnterpriseMap" style="padding: 0">

    <!--<p style="text-align: center; padding-bottom: 5px; position: relative;">Clique <i class="material-icons">cottage</i> para selecionar o imóvel desejado.</p>-->

    <!--<div id="enterprise_image" class="div_image" style="background-size: cover; background-image: url('../img/Propriedade_2.png'); display: block;background-repeat: no-repeat">-->
    <!--<div class="divImage" style="background-image: url('../img/Propriedade_2.png'); display: block; background-repeat: no-repeat;">
        <spam class="spamIcon" style="top: 100px; left: 300px;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 140px; left: 275px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 180px; left: 230px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: red;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 220px; left: 205px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 380px; left: 300px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 360px; left: 300px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 350px; left: 305px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 345px; left: 310px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 345px; left: 315px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 350px; left: 320px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="top: 365px; left: 325px;"><button class="btn" onclick="openForm()"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
    </div>
    -->
    <div class="divMap">
        <div class="divImage">
            <img src="~/img/Propriedade_2.png">
            <a><div class="divIcon" style="left: 350px; top: 100px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 350px; top: 140px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 330px; top: 180px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: red;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 320px; top: 220px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 440px; top: 380px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 470px; top: 360px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 505px; top: 350px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 540px; top: 345px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 570px; top: 345px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 600px; top: 350px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
            <a><div class="divIcon" style="left: 630px; top: 360px"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></div></a>
        </div>

        <!--
        <img src="~/img/Propriedade_2.png">
        <spam class="spamIcon" style="position: absolute; left: 350px; top: 100px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 350px; top: 140px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 330px; top: 180px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: red;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 320px; top: 220px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: limegreen;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 440px; top: 380px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 470px; top: 360px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 505px; top: 350px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 540px; top: 345px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 570px; top: 345px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 600px; top: 350px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        <spam class="spamIcon" style="position: absolute; left: 630px; top: 360px; z-index: 1;"><button class="btn" onclick="displaycontrolFunction('ResidenceDetail')"><i class="material-icons" style="color: lightgray;">cottage</i></button></spam>
        -->
    </div>

    <div class="footerG">
        <i class="material-icons" style="color: limegreen;">cottage</i><a>Disponível para venda &nbsp</a>
        <i class="material-icons" style="color: red;">cottage</i><a>100% vendido &nbsp</a>
        <i class="material-icons" style="color: lightgray;">cottage</i><a>Venda não iniciada</a>
    </div>

    <div class="footerP">
        <i class="material-icons" style="color: limegreen;">cottage</i><a>Disponível para venda &nbsp</a>
        <br>
        <i class="material-icons" style="color: red;">cottage</i><a>100% vendido &nbsp</a>
        <br>
        <i class="material-icons" style="color: lightgray;">cottage</i><a>Venda não iniciada</a>
    </div>

</section>
