<section id="portfolio" class="portfolio" style="padding: 0">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Nossos Empreendimentos</h2>
            <p>Selecione o empreendimento desejado e adquira sua cota.</p>
            <p>Para acessar o mapa do empreendimento, clique <i class="material-icons">map</i>.</p>
        </div>

        <!-- #### Descomentar esse filtro quando tiver um empreendimento na praia #### -->
        <!--
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-countryside">Campo</li>
                    <li data-filter=".filter-beach">Praia</li>
                </ul>
            </div>
        </div>
        -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div id="alcantara" class="col-lg-4 col-md-4 portfolio-item filter-countryside">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/Villaggio Alcantara.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Villagio Alcantara</h4>
                        <p>Rancho Queimado - SC</p>
                        <p>Campo</p>
                        <div class="portfolio-links" style="text-align: left">
                            <a href="#" class="tablinks" onclick="abrirTab(event, 'Topografia')"><i class="material-icons">map</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="trentino" class="col-lg-4 col-md-4 portfolio-item filter-countryside">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/Villaggio_Trentino.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Villagio Trentino</h4>
                        <p>Rio dos Cedros - SC</p>
                        <p>Campo</p>
                        <div class="portfolio-links" style="text-align: left">
                            <a href="#" class="tablinks" onclick="abrirTab(event, 'Topografia')"><i class="material-icons">map</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="hermann" class="col-lg-4 col-md-4 portfolio-item filter-countryside">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/Dorf_Hermann.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dorf Hermann</h4>
                        <p>Pomerode - SC</p>
                        <p>Campo</p>
                        <div class="portfolio-links" style="text-align: left">
                            <a href="#" class="tablinks" onclick="abrirTab(event, 'Topografia')"><i class="material-icons">map</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>