<section id="quotas" class="quotas" style="padding: 0">
    
    <div class="container" data-aos="fade-up" style="padding: 0">

        <div class="section-title">
            <h2>Minhas Cotas Adquiridas</h2>

            <!-- Implementar IF para vrtificar se possui cotas -->
            <!--
            <div style="width: 100%; height: 70vh; background: url('../img/adquira.png') top center no-repeat; background-size: cover; position: relative;">
                <div style="top: 100px; position: relative; display: table; margin: 0 auto;">
                    <h3 style="color: #fff">Não perca tempo!</h3>
                    <h3 style="color: #fff"><b><a id="invest-link" href="#portfolio" onclick="portfolioFunction()">Invista agora</a></b></h3>
                    <h3 style="color: #fff">no seu imóvel de férias!</h3>
                </div>
            </div>
            -->

            <p>Para acessar a documentação do imóvel, clique <i class="material-symbols-outlined"><strong>description</strong></i></p>
        </div>

        <div class="container" style="padding: 0">
            <ul class="responsive-table" style="padding: 0">
                <li class="table-header">
                    <div class="col coluna-1-quota">Empreendimento</div>
                    <div class="col coluna-2-quota">Imóvel</div>
                    <div class="col coluna-3-quota">Unidade</div>
                    <div class="col coluna-4-quota">Cota n°</div>
                    <div class="col coluna-5-quota"><i class="material-symbols-outlined"><strong>description</strong></i></div>
                </li>
                <li class="table-row">
                    <div class="col coluna-1-quota"><span class="table-label">Empreendimento:&nbsp;</span>Villaggio Alcântara</div>
                    <div class="col coluna-2-quota"><span class="table-label">Imóvel:&nbsp;</span>Cabana Luxo</div>
                    <div class="col coluna-3-quota"><span class="table-label">Unidade:&nbsp;</span>2</div>
                    <div class="col coluna-4-quota"><span class="table-label">Cota N°:&nbsp;</span>10</div>
                    <div class="col coluna-5-quota"><a onclick="downloadFunction('cota 1')"><i class="material-symbols-outlined files"><strong>description</strong></i></a></div>
                </li>
                <li class="table-row">
                    <div class="col coluna-1-quota"><span class="table-label">Empreendimento:&nbsp;</span>Dorf Hermann</div>
                    <div class="col coluna-2-quota"><span class="table-label">Imóvel:&nbsp;</span>Chalé Supreme</div>
                    <div class="col coluna-3-quota"><span class="table-label">Unidade:&nbsp;</span>5</div>
                    <div class="col coluna-4-quota"><span class="table-label">Cota N°:&nbsp;</span>1</div>
                    <div class="col coluna-5-quota"><a onclick="downloadFunction('cota 2')"><i class="material-symbols-outlined files"><strong>description</strong></i></a></div>
                </li>
            </ul>
        </div>
    </div>

</section>

<script>
    function downloadFunction(parm) {
        Swal.fire({
            icon: "info",
            showConfirmButton: false,
            showCancelButton: true,
            cancelButtonText: "Fechar",
            cancelButtonColor: "#38be3b",
            html: `<p>Para fazer download do arquivo, clique <i class="material-symbols-outlined"><strong>cloud_download</strong></i></p>
                   <div class="container" style="padding: 0">
                      <ul class="responsive-table" style="padding: 0">
                         <li class="table-header">
                            <div class="col coluna-1-popup-down">Arquivo</div>
                            <div class="col coluna-2-popup-down"><i class="material-symbols-outlined"><strong>cloud_download</strong></i></div>
                         </li>
                         <li class="table-row">
                            <div class="col coluna-1-popup-down">Proposta Inicial.pdf</div>
                            <div class="col coluna-2-popup-down"><a href="~/img/portfolio/portfolio-7.jpg" download><i class="material-symbols-outlined download"><strong>cloud_download</strong></i></a></div>
                         </li>
                         <li class="table-row">
                            <div class="col coluna-1-popup-down">Contrato.pdf</div>
                            <div class="col coluna-2-popup-down"><a href="~/img/portfolio/portfolio-8.jpg" download><i class="material-symbols-outlined download"><strong>cloud_download</strong></i></a></div>
                         </li>
                      </ul>
                   </div>`
        })
    }
</script>