<div id="ResidenceDetail" class="modal" style="display: none">
    <spam onclick="displaycontrolFunction('ResidenceDetail')" class="close" title="Close Modal">&times;</spam>

    <div class="container" data-aos="fade-up">

        <form action="/action_page.php" class="modal-content-residence animate">
            <div class="form-container">
                <h4>Perspectiva do Imóvel</h4>
                <div class="slideshow-container">
                    <div class="slideshow-mySlides slideshow-fade">
                        <img class="slideshow-mySlides-img" src="~/img/paisagem1.jpg">
                        <div class="slideshow-text">Caption Text</div>
                    </div>

                    <div class="slideshow-mySlides slideshow-fade">
                        <img class="slideshow-mySlides-img" src="~/img/paisagem2.jpg">
                        <div class="slideshow-text">Caption Two</div>
                    </div>

                    <div class="slideshow-mySlides slideshow-fade">
                        <img class="slideshow-mySlides-img" src="~/img/paisagem4.jpg">
                        <div class="slideshow-text">Caption Three</div>
                    </div>

                    <a class="slideshow-prev" onclick="plusSlides(-1)">❮</a>
                    <a class="slideshow-next" onclick="plusSlides(1)">❯</a>

                </div>
                <br>

                <div style="text-align:center">
                    <span class="slideshow-dot" onclick="currentSlide(1)"></span>
                    <span class="slideshow-dot" onclick="currentSlide(2)"></span>
                    <span class="slideshow-dot" onclick="currentSlide(3)"></span>
                </div>

                <h4>Informações do Imóvel</h4>
                <div class="form-row tab-content">
                    <div class="form-column">
                        <label for="residence"><b>Imóvel</b></label>
                        <input type="text" name="residence" style="background: lightgray" disabled>
                    </div>
                    <div class="form-column">
                        <label for="unit"><b>Unidade</b></label>
                        <input type="text" name="unit" style="background: lightgray" disabled>
                    </div>
                    <div class="form-column">
                        <label for="quota">Selecione a Cota:</label>
                        <select name="quota" id="quota">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-column">
                        <label for="registration"><b>Matrícula</b></label>
                        <input type="text" name="registration" style="background: lightgray" disabled>
                    </div>
                </div>
                <br>
                <h4>Informações da Imobiliária</h4>
                <div class="form-row">
                    <div class="form-column">
                        <label for="realestate"><b>Imobiliária</b></label>
                        <input type="text" name="realestate" style="background: lightgray" disabled>
                    </div>
                    <div class="form-column">
                        <label for="creci"><b>CRECI</b></label>
                        <input type="text" name="creci" style="background: lightgray" disabled>
                    </div>
                    <div class="form-column">
                        <label for="phone"><b>Telefone</b></label>
                        <input type="text" name="phone" style="background: lightgray" disabled>
                    </div>
                    <div class="form-column">
                        <label for="email"><b>e-mail</b></label>
                        <input type="text" name="email" style="background: lightgray" disabled>
                    </div>
                </div>
                <br>
                <h4>Preencha somente em caso de atendimento prévio</h4>
                <div class="form-row">
                    <div class="form-column">
                        <label for="realestate"><b>Código do Corretor</b></label>
                        <input type="text" name="broker">
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="ok-btn" style="width: auto">Reservar</button>
                    <button type="button" class="cancel-btn" style="padding: 14px 18px;" onclick="document.getElementById('ResidenceDetail').style.display='none'">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // ======= Get Modal =======
    var modalresidence = document.getElementById('ResidenceDetail');

    // ======= Close Modal When The User Clicks Anywhere Outside =======
    window.onclick = function (event) {
        if (event.target == modalresidence) {
            modalresidence.style.display = "none";
        }
    }

    // ======= Slideshow Controller =======
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slideshow-mySlides");
        let dots = document.getElementsByClassName("slideshow-dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" slideshow-active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " slideshow-active";
    }

</script>