@model Unicamente.UI.Web.Models.InvestidorViewModel

@{
    ViewData["Title"] = "Minha Conta";
    Layout = "~/Views/Shared/_LayoutB.cshtml";
}
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        @* <h1 class="logo me-auto"><a href="index.html">Oskem<span>.</span></a></h1> *@
        <a class="me-auto" asp-action="Index"><img class="logo me-auto" src="~/img/logo-oskem-fundo-branco.png" /></a>
        <spam style="font-weight: bold">@Model.Nome</spam>
        <!-- ======= Navigation Bar ======= -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="dropdown">
                    <a href="#"><span>Minha Conta</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Dados Pessoais</a></li>
                        <li><a href="#">Segurança</a></li>
                        <li><a href="#">Excluir Conta</a></li>
                        <li><a asp-action="Logout">Logout</a></li>
                    </ul>
                </li>
                @* <li><a href="/Inves">Logout</a></li> *@
                @* <li><a asp-action="Logout">Logout</a></li> *@
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>

<section id="cadastro" class="cadastro">
    <div class="container">



        <div class="section-title">
            <br />
            <h2>Minha Conta</h2>
            @* <p>Você é um investidor ou um corretor? Complete seu cadastro abaixo</p> *@
        </div>

        <!-- ======= Tabs Section ======= -->
        <section id="tabs" class="tabs">
            <div class="container" data-aos="fade-up">

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-4">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                            <i class="material-symbols-outlined">account_circle</i>
                            <h4 class="d-none d-lg-block">Dados Pessoais</h4>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                            <i class="material-symbols-outlined">pin_drop</i>
                            <h4 class="d-none d-lg-block">Endereço</h4>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                            <i class="material-symbols-outlined">vpn_key</i>
                            <h4 class="d-none d-lg-block">Segurança</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row" data-aos="fade-up" data-aos-delay="100">

                            <div class="col-lg-12">
                                <form id="form-investidor-dados-pessoais" method="post" data-ajax-method="post" data-ajax="true" data-ajax-url="/Investidor/AtualizarDadosPessoais" data-ajax-success="onSucess" role="form" class="php-email-form">
                                    <input asp-for="ID" type="hidden" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <label class="control-label">Nome Completo</label>
                                                <input asp-for="Nome" class="form-control somenteTexto" id="nome" placeholder="João da Silva" required/>
                                                <span asp-validation-for="Nome" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <label asp-for="Celular" class="control-label"></label>
                                                <input asp-for="Celular" type="text" class="form-control" id="celular" required />
                                                <span asp-validation-for="Celular" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3" style="margin-top:7px;">
                                                <label asp-for="Complemento.Nascimento" class="control-label"></label>
                                                <input asp-for="Complemento.Nascimento" type="date" class="form-control" id="nascimento" required />
                                                <span asp-validation-for="Complemento.Nascimento" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label asp-for="Complemento.CPF" class="control-label"></label>
                                                <input asp-for="Complemento.CPF" type="text" class="form-control" id="cpf" required />
                                            </div>
                                            <div class="col-md-3">
                                                <label asp-for="Complemento.RG" class="control-label"></label>
                                                <input asp-for="Complemento.RG" class="form-control" id="rg" required />
                                                <span asp-validation-for="Complemento.RG" class="text-danger"></span>
                                            </div>

                                @*             <div class="col">
                                                <label class="control-label">Orgao Expedidor</label>
                                                <input asp-for="Complemento.OrgaoExpedidor" class="form-control" id="orgaoexpedidor" required />
                                                <span asp-validation-for="Complemento.OrgaoExpedidor" class="text-danger"></span>
                                            </div> *@

                                            <div class="col-md-4">
                                                <label class="control-label">Orgao Expedidor</label>

                                                @* <input asp-for="Complemento.OrgaoExpedidor" class="form-control" id="orgaoexpedidor" required /> *@
                                                <select asp-for="Complemento.OrgaoExpedidor" asp-items="@ViewBag.TipoDocumento" class="form-control" id="ufrg" required>
                                                    <option disabled selected>Selecione...</option>
                                                </select>

                                                <span asp-validation-for="Complemento.OrgaoExpedidor" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-2">
                                                <label class="control-label">UF</label>
                                                @* <input asp-for="Complemento.UFRG" class="form-control" id="ufrg" required /> *@
                                                <select asp-for="Complemento.UFRG" asp-items="@ViewBag.UF" class="form-control" id="ufrg" required>
                                                </select>

                                                <span asp-validation-for="Complemento.UFRG" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <br>
                                        <div style="text-align: right">
                                            <button id="cadastrar-investidor" type="submit" style="background: #38be3b">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-2">
                        <div class="col-lg-12">
                            <form id="form-investidor-endereco" method="post" data-ajax-method="post" data-ajax="true" data-ajax-url="/Investidor/AtualizarEndereco" data-ajax-success="onSucess" role="form" class="php-email-form">
                                <input asp-for="ID" type="hidden" />
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="Complemento.CEP" class="control-label"></label>
                                            <input asp-for="Complemento.CEP" class="form-control" id="cep" required />
                                            <span asp-validation-for="Complemento.CEP" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-7" style="padding-top: 3%;">
                                            <img id="img-loader-endereco" src="~/img/loader-ajax.gif" style="display: none; height: 24px;" /><span class="text-danger" id="id-cep-invalido" style="display : none">CEP não encontrado, favor inserir endereço.</span>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="Complemento.Logradouro" class="control-label"></label>
                                            <input asp-for="Complemento.Logradouro" class="form-control" id="logradouro" required readonly />
                                            <span asp-validation-for="Complemento.Logradouro" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label asp-for="Complemento.Numero" class="control-label"></label>
                                            <input asp-for="Complemento.Numero" class="form-control" id="numero" required />
                                            <span asp-validation-for="Complemento.Numero" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Complemento.Complemento" class="control-label"></label>
                                            <input asp-for="Complemento.Complemento" class="form-control" id="complemento" />
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <label asp-for="Complemento.Bairro" class="control-label"></label>
                                            <input asp-for="Complemento.Bairro" class="form-control" id="bairro" required readonly />
                                            <span asp-validation-for="Complemento.Bairro" class="text-danger"></span>
                                        </div>
                                        <div class="col">
                                            <label asp-for="Complemento.Cidade" class="control-label"></label>
                                            <input asp-for="Complemento.Cidade" class="form-control" id="cidade" required readonly />
                                            <span asp-validation-for="Complemento.Cidade" class="text-danger"></span>
                                        </div>
                                        <div class="col">
                                            <label asp-for="Complemento.Estado" class="control-label"></label>
                                            <input asp-for="Complemento.Estado" class="form-control" id="uf" required readonly />
                                            <span asp-validation-for="Complemento.Estado" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="text-align: right">
                                        <button type="submit" style="background: #38be3b">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-3">
                        <div class="col-lg-12">
                            <form asp-controller="Investidor" asp-action="Create" method="post" role="form" class="php-email-form">
                                <input asp-for="ID" type="hidden" />
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label">Senha antiga</label>
                                            <input asp-for="Senha" class="form-control" id="senha" placeholder="*******" required />
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label">Senha</label>
                                            <input asp-for="Senha" class="form-control" id="senha" placeholder="*******" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Confirmar senha</label>
                                            <input asp-for="Senha" class="form-control" id="senha" placeholder="*******" required />
                                        </div>
                                    </div>
                                    <br>
                                    <div style="text-align: right">
                                        <button type="submit" style="background: #38be3b">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Tabs Section -->



    </div>

</section>



