
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/Sidebar/style.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




    <!-- Sweet Alert -->
    @* <link rel="stylesheet" href="sweetalert2.min.css"> *@

    @* <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> *@

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.js"></script>


@*     <script src=@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js") type="text/javascript"></script>
 *@
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
 *@

    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@


    @* <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.js"></script> *@
    @* <script src="~/lib/jquery/dist/jquery.mask.js"></script> *@



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Sidebar/main.js"></script>
    <script src="~/js/Sidebar/popper.js"></script>
    @* <script src="~/js/Sidebar/jquery.min.js"></script> *@
    <script src="~/js/Sidebar/bootstrap.min.js"></script>

</head>

<body>

    <div class="wrapper d-flex align-items-stretch">

        @RenderBody()


    </div>




    <!-- Sweet Alert -->

    <script>


        function retira_acentos(palavra) {
            com_acento = 'áàãâäéèêëíìîïóòõôöúùûüçÁÀÃÂÄÉÈÊËÍÌÎÏÓÒÕÖÔÚÙÛÜÇ';
            sem_acento = 'aaaaaeeeeiiiiooooouuuucAAAAAEEEEIIIIOOOOOUUUUC';
            nova = '';
            for (i = 0; i < palavra.length; i++) {
                if (palavra.substr(i, 1) != "(" && palavra.substr(i, 1) != ")" && com_acento.search(palavra.substr(i, 1)) >= 0 && palavra.substr(i, 1) != ".") {
                    nova += sem_acento.substr(com_acento.search(palavra.substr(i, 1)), 1);
                }
                else {
                    nova += palavra.substr(i, 1);
                }
            }
            return nova;
        }
        function onSucess(response) {
            if (response.success) {
                exibirPopupSucesso(response.message);
            }
            else {
                exibirPopupErro(response.message);
            }
        }

        var fullHeight = function () {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $('#sidebarCollapse').on('click', function () {
            if ($('#sidebar').hasClass('active')) {

                // $(".icons-block").css('display', 'inline');

                $("#logo-pequeno").css('display', 'none');
                if ($(window).width() > 992) {

                    $("#logo-grande").css('display', 'inline-block');
                }
            }
            else {
                // $(".icons-block").css('display', 'block');

                $("#logo-pequeno").css('display', 'inline-block');

                if ($(window).width() > 992) {

                    $("#logo-grande").css('display', 'none');
                }
            }

            $('#sidebar').toggleClass('active');

        });

        function abrirTab(evt, nomeTab) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(nomeTab).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function exibirPopupErro(mensagem) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                confirmButtonText: "Fechar",
                confirmButtonColor: "#38be3b",
                text: mensagem,
                // footer: '<a href="#">Why do I have this issue?</a>'
            });
        }

        function exibirPopupSucesso(mensagem) {
            Swal.fire({
                icon: "success",
                title: "Sucesso!",
                confirmButtonText: "Fechar",
                confirmButtonColor: "#38be3b",
                text: mensagem,
                // footer: '<a href="#">Why do I have this issue?</a>'
            });
        }

        function exibirPopupSucessoComRedirect(mensagem, url) {
            Swal.fire({
                icon: "success",
                title: "Sucesso!",
                confirmButtonText: "Fechar",
                confirmButtonColor: "#38be3b",
                text: mensagem,
            }).then(() => {
                window.location.href = url;
            });
        }




    </script>
    <script>
        function CarregaElementoImagem(input, elementoImagem) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    debugger;
                    $(elementoImagem).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>