@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Configurações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />


<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TipoImovel" asp-action="Index">Tipo Imovel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Comodo" asp-action="Index">Tipos de Comodos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Imovel" asp-action="Index">Imoveis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ComodoImovel" asp-action="Index">Comodo Imovel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Investidor" asp-action="Index">Investidor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Corretor" asp-action="Index">Corretor</a>
        </li>        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empreendimento" asp-action="Index">Empreendimento</a>
        </li>
    </ul>
</div>
