@model Unicamente.UI.Web.Models.AdministrativoViewModel

@{
    ViewData["Title"] = "Área do Investidor";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> 
@* <link href="~/css/aos.css" rel="stylesheet" /> *@

<nav id="sidebar" class="active">
    <h1>
        <a href="index.html" class="logo">
            @* <img src="~/img/logo-oskem-fundo-preto.png" /> *@
            <img src="~/img/LogoUdv-removebg-preview.png" id="logo-grande" style="display:none;width:108%" />
            
            @* <img src="~/img/apple-touch-icon.png" id="logo-pequeno" style="width:60%"/> *@
            <img src="~/img/logopequdv.png" id="logo-pequeno" style="width:85%" />
        </a>

    </h1>
    <ul class="list-unstyled components mb-5">
        <li>
            @* <a href="#"><span class="fa fa-home"></span> Home</a> *@
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><span class="fa fa-home"></span>Inicio</a>


            <ul class="collapse show list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#" class="tablinks active" onclick="abrirTab(event, 'RealState')"><span class="material-symbols-outlined material-icons-position">home</span>Resumos</a>
                </li>
@*                 <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'novaImobiliaria')"><span class="material-symbols-outlined material-icons-position">real_estate_agent</span>Nova</a>
                </li> *@
@*                 <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'CotasAdquiridas')"><span class="material-symbols-outlined material-icons-position">in_home_mode</span>Adquiridas</a>
                </li> *@
            </ul>

        </li>
        <li>
            <a href="#minhaContaSubmenu" data-toggle="collapse" aria-expanded="false"><span class="fa fa-list-alt"></span>Cadastros</a>
            <ul class="collapse list-unstyled" id="minhaContaSubmenu">

                <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'vegetals')"><span class="material-symbols-outlined material-icons-position">spa</span>Vegetal</a>
                </li>

                <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'recipientes')"><span class="material-symbols-outlined material-icons-position">pediatrics</span>Recipientes</a>
                </li>

                <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'mariris')"><span class="material-symbols-outlined material-icons-position">filter_vintage</span>Mariri</a>
                </li>

                <li>
                    <a href="#" class="tablinks" onclick="abrirTab(event, 'chacronas')"><span class="material-symbols-outlined material-icons-position">eco</span>Chacrona</a>
                </li>
            </ul>

        </li>
@*         <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Cotas</a>
        </li 
         <li>
            <a href="#"><span class="fa fa-cogs"></span> Services</a>
        </li> *@
        <li>
            <a asp-action="Logout" class="nav-link"><span class="fa fa-sign-out"></span>Sair</a>
        </li>
    </ul>

    @*             <div class="footer">
    <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
    </div> *@
</nav>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn" style=" background:#049be3">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h2 style="margin:auto;font-size: 28px;text-transform: uppercase;position: relative;color: gray;">Assistência</h2>
                <ul class="nav navbar-nav ml-auto">
                    @*                             <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                    </li> *@
                    <li class="nav-item">
                        @* <a class="nav-link" href="#">Sair</a> *@
                        <a asp-action="Logout" class="nav-link">Jackson</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div id="recipientes" class="tabcontent" style="display:none">
        <partial name="~/Views/Administrativo/Recipientes/_Recipientes.cshtml" model="@Model" />
    </div>

    <div id="mariris" class="tabcontent" style="display:none">
        <partial name="~/Views/Administrativo/Mariri/_Mariris.cshtml" model="@Model" />
    </div>

    <div id="chacronas" class="tabcontent" style="display:none">
        <partial name="~/Views/Administrativo/Chacrona/_Chacronas.cshtml" model="@Model" />
    </div>

    <div id="vegetals" class="tabcontent" style="display:none">
        <partial name="~/Views/Administrativo/Vegetal/_Vegetals.cshtml" model="@Model" />
    </div>



</div>

<partial name="_ValidationScriptsPartial" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1500,
        once: true
    });
</script>


<script>

    /**
     * Porfolio isotope and filter
     */
    window.addEventListener('load', () => {
        let portfolioContainer = select('.portfolio-container');
        if (portfolioContainer) {
            let portfolioIsotope = new Isotope(portfolioContainer, {
                itemSelector: '.portfolio-item',
                layoutMode: 'fitRows'
            });

            let portfolioFilters = select('#portfolio-flters li', true);

            on('click', '#portfolio-flters li', function (e) {
                e.preventDefault();
                portfolioFilters.forEach(function (el) {
                    el.classList.remove('filter-active');
                });
                this.classList.add('filter-active');

                portfolioIsotope.arrange({
                    filter: this.getAttribute('data-filter')
                });
                portfolioIsotope.on('arrangeComplete', function () {
                    AOS.refresh()
                });
            }, true);
        }

    });

    /**
     * Initiate portfolio lightbox
     */
    // const portfolioLightbox = GLightbox({
    //     selector: '.portfolio-lightbox'
    // });

    /**
     * Portfolio details slider
     */
    new Swiper('.portfolio-details-slider', {
        speed: 400,
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true
        }
    });
</script>